<!-- <div class="scrollbar-component"> -->
  <!-- upper scrollbar -->
  <!-- <div *ngIf = "!isDisplay" class="app"> -->

    <!-- <ul class="hs full">
      <li class="item">test</li>
      <li class="item">test</li>
      <li class="item">test</li>
      <li class="item">test</li>
      <li class="item">test</li>
      <li class="item">test</li>
      <li class="item">test</li>
      <li class="item">test</li>
      <li class="item">test</li>
      <li class="item">test</li>
      <li class="item">test</li>
      <li class="item">test</li>
      <li class="item">test</li>
      <li class="item">test</li>
      <li class="item">test</li>
      <li class="item">test</li>
      <li class="item">test</li>
      <li class="item">test</li>
      <li class="item">test</li>
      <li class="item">test</li>
      <li class="item">test</li>
      <li class="item">test</li>
      <li class="item">test</li>
      <li class="item">test</li>
    </ul>

  </div> -->

 <!-- bottom scrollbar -->
  <!-- <div  class="scrollmenu" id="scrollbar">
    <button (click) = "toggleDisplay()" >Necklace</button>
    <button (click) = "toggleDisplay()">Ear-Rings</button>
    <button (click) = "toggleDisplay()">Bindi</button>
    <button (click) = "toggleDisplay()">Maang-Tikka</button>
    <button (click) = "toggleDisplay()">Kamarband</button>
    <button (click) = "toggleDisplay()">Ring</button>
    <button (click) = "toggleDisplay()">Bracelet</button>
    <button (click) = "toggleDisplay()">Bangles</button>
    <button (click) = "toggleDisplay()">Brooch</button>
    <button (click) = "toggleDisplay()">Nosepin</button>
    <button (click) = "toggleDisplay()">Armlet</button>
    <button (click) = "toggleDisplay()">Wristlet</button>
    <button (click) = "toggleDisplay()">Nose-Ring</button>
    <button (click) = "toggleDisplay()">Anklet</button>
    <button (click) = "toggleDisplay()">Other</button>
  </div>
 -->
<!-- <div class="wrapper" (window.resize)="onResize($event)">
  <webcam [trigger]="triggerObservable"
    [width]="width"
    [height]="height"
    (imageCapture)="onImageCapture($event)">

  </webcam>
</div> -->
