<div class="canvas-header" style="height: 100vh;">
  <mat-toolbar class="navbar-color">
    <div fxShow="true" fxHide.gt-sm="true">
      <button mat-icon-button (click)="sidenav.toggle()" class="example-icon"
        aria-label="Example icon-button with menu icon" style="color: white;">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div fxShow="true" fxHide.lt-md="true">
      <img class="large-logo" routerLink="/" src="../../assets/new-logo.png">
    </div>
    <div fxShow="true" fxHide.gt-sm="true">
      <img class="small-logo" routerLink="/" src="../../assets/new-logo.png">
    </div>
    <div class="example-spacer nav-btn">
      <input class="custom-upload-file" id="file_upload" type="file" (change)="Addbg($event.target.files)" size="0" style="color: #00116e;">
      </div>

    <div class="nav-btn" fxShow="true" fxHide.t-mdl="true">
      <button mat-raised-button (click)="DownloadImage()">Download</button>
    </div>
   <div class="nav-btn" fxShow="true" fxHide.t-mdl="true">
      <button mat-raised-button (click)="DeleteImage()">Delete</button>
    </div>
    <!-- <div class="nav-btn" fxShow="true" fxHide.lt-md="true">
        <button mat-raised-button (click)="openDialog()">Demo</button>
    </div> -->
  </mat-toolbar>
  <mat-sidenav-container style="max-width: 320px;" fxFlexFill class="example-container">
    <mat-sidenav #sidenav fxLayout="column">
      <div fxLayout="column">

        <!-- <a (click)="sidenav.toggle()" href="#" mat-button>Close</a> -->
        <button mat-button (click)="DownloadImage()">Download</button>
        <span class="example-spacer"></span>

        <button mat-button (click)="DeleteImage()">Delete</button>
        <button mat-button (click)="openDialog()">Demo</button>
    </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill><canvas class="Canvas" id="myCanvas"></canvas></mat-sidenav-content>
  </mat-sidenav-container>

</div>
