<mat-accordion>
    <div *ngFor ="let category of allcats;let i = index;first as First">
      
        <mat-expansion-panel class="mat-elevation-z4"  style="background-color: #9DD5FF;"> <!-- added inthis line for expand the panel automatically [expanded]="First"-->
            <mat-progress-bar *ngIf="test" mode="indeterminate"></mat-progress-bar>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    {{category}}
                </mat-panel-title>
            </mat-expansion-panel-header>
           <div *ngFor ="let type of alltypes; let j=index">
            <mat-tab-group [color]="''" [backgroundColor]="'primary'" style="max-height:500px!important ;overflow-y:auto;">
                <div  *ngFor="let jewels of categories[i]" >
                   <div *ngFor ="let something of jewels[j]" class="{{something.jeweltype}}" (load)="test=false" >
                      <mat-tab *ngIf="something.jewellery.length" label="{{something.name}}">
                        <div class="image-grid" style="background-color: #9DD5FF;">
                        <div *ngFor="let jewel of something.jewellery">
                          <div class="image-blocks">&nbsp;&nbsp;
                          <label style="font-size: 13px;">PID:&nbsp;{{jewel.name}}</label>
                           <img src="{{jewel.image_source}}" class="{{something.jeweltype}}" attr.data-pair="{{something.pair}}" (load)="loaded=false;test=false" style="height:80px;width:130px ;" attr.category="{{something.category}}">
                            <br><br>
                           &nbsp;&nbsp;&nbsp;<label style="font-size: 13px; font-weight: bold;">{{jewel.weight}}</label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <label style="font-size: 13px; font-weight: bold;">{{jewel.karats}}</label>
                           <mat-progress-bar *ngIf="loaded" mode="indeterminate"></mat-progress-bar>
                          </div>
                        </div>
                        </div>
                      </mat-tab>
                    </div>
                 </div>
            </mat-tab-group>
            </div>
        </mat-expansion-panel>
    </div>
    </mat-accordion>
