.change-cat-input {
  width: 250px;
  height: 30px;
  border: 2px solid #000000;
  font-size: 18px;
}

.label-font {
  font-size: 20px;
  font-weight: 400;
}

.select-opt {
  border: 2px solid black;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  width: 250px;
  font-size: 18px;
  outline: none;
}
